.guessingPanelDiv {
    margin-top: 20px;
}

.startGameBtn {
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 100px;
}

.startGameBtn:hover {
    background-color: #218838;
    transition: background-color 150ms linear;
}

.startGameBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.startGameBtnDiv > div {
    margin-left: 14px;
}

.playImg {
    width: 45px;
    height: 45px;
    margin-left: -9px;
    margin-top: 2px;
}

.guessControl {
    display: flex;
    height: 90px;;
}

.guessControlFirst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timer {
    color: #28a745;
}

.giveUpBtn {
    border: none;
    cursor: pointer;
    background-color: #e02222;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px;
}

.giveUpBtn:hover {
    background-color: #c82333;
    transition: background-color 150ms linear;
}

.guessControlSecond {
    margin-left: 8px;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pauseImg, .clockImg, .questionImg {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.guessControlThird {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countryLabel {
    font-weight: bold;
    font-size: 17px;
}

.countryInput {
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 18px;
    padding: 8px;
    width: 350px;
}

.countryInput:focus {
    border-color: rgb(100, 190, 255); 
    outline: none;
    box-shadow: 0 0 2px 3px rgba(100, 190, 255, 0.5); 
}

.gameOverPanel {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}

.pointsPanel {
    background-color: #f2eae1;
    padding: 14px;
    font-size: 18px;
    width: fit-content;
}

.points {
    font-size: 24px;
    font-weight: 600;
}

.allScore {
    display: flex;
}

.yourScoreIs {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.finalScore {
    margin-left: 6px;
    font-size: 26px;
    margin-bottom: -2px;
}

.repeatBtn {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #28a745;
    color: #000;
    font-size: 18px;
    width: 250px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.repeatBtn:hover {
    background-color: #218838;
    transition: background-color 150ms linear;
}

.repeatImg {
    margin: 2px 6px 0 0;
}