body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.mapContainer {
    margin-top: 40px;
    height: 600px;
    width: 1000px;
}

/* kolor wody na mapie */
.leaflet-zoom-animated {
    background-color: rgb(100, 190, 255);
}

.countryTablesDiv {
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

table > tr > th {
    font-weight: 400;
}

table > tr > th {
    background-color: #3366cc;
    color: #fff;
    padding: 8px;
}

table > tr > td {
    padding: 8px;
    display: flex;
    justify-content: center;
}

table > tr > td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0;
}